

body {
	border: 3px solid black;
    letter-spacing: 1.5px;
}


#grad1 {
	height: 320px;
	background: rgb(179,226,255);
	background: linear-gradient(90deg, rgba(179,226,255,1) 0px, rgba(200,235,255,1) 44px, rgba(215,242,255,1) 100px);
	
}



.roundbox{
	position: absolute;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	transform: translate(100px, -220px);
}

.roundbox {
  	height: 470px;
	width: 1120px; 
	overflow: hidden;
	background:#FFFFFF; 	
}

.boxshadow {    
  box-shadow: 3px 0px 6px 3px #f4f6f8;
}


.gridheader{    
	padding: 35px 10px 20px 50px;
    background:  #1a2654 ;
    font-weight: bold;
    color: #F4F6F8;
    font-size: 28px;
    font-family: PT Sans;
    
}






.shareicon{
	position: absolute;
	top: 10px;
	height: 70px;
	left: 550px;
}

.downloadicon
{
	position: absolute;
	top: 3px;
	height: 90px;
	left: 650px;
}

.dashline {
	position: absolute;
    height: 900px;
    border-left: 2px dashed #c0c0c0;
    left: 800px;
}





.gridheader2{    
	position: absolute;
	font-weight: bold;
    color: #F4F6F8;
    font-size: 28px;
    font-family: PT Sans;
    transform: translate(800px, -55px);
}


.airport1,.airport2{
	color: #b1defa;
	font-size: 28px;

}
.airport1 {
	transform: translate(60px, 70px);
	font-family: PT Sans;
}

.airport2 {
	transform: translate(600px, -30px);
	font-family: PT Sans;
}



.airplane
{
	position: absolute;
	height: 15px;
	top: 170px;
	left: 120px;
	
}



.lineairports {
	position: absolute;
    border-bottom: 2px solid #b1defa;
	top: 170px;
	left: 120px;
}

.pinpointicon{
	position: absolute;
	height: 30px;
	top: 260px;
	left: 700px;
}




.date,.time,.duration,.amenities{
	font-weight: bold;
	font-family: PT Sans;

}





.date{
	position: absolute;
	top: 350px;
	left: 170px;
}



.time{
	position: absolute;
	top: 350px;
	left: 340px;
}


.duration{
	position: absolute;
	top: 350px;
	left: 540px;

}


.amenities{
	position: absolute;
	top: 450px;
	left: 540px;

}


.airlinelogo{
	position: absolute;
	height: 100px;
	top: 420px;
	left: 160px;
}

.airlinetext{
	position: absolute;
	top: 500px;
	left: 380px;
}


p{
color: #c0c0c0;
}








h1 {
	padding: 10px 10px 10px 10px;
	color: #1a2654;
    border-bottom: 3px solid #5cb6f2;
    font-family: Sans-Serif;
    font-size: 38px;
}



.infoicon{
	height: 2.5%;
}

















.ratings {
    display: inline-block;
    color: #b1b1b1;
     
}
.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    color: #5cb6f2;
}
.empty-stars:before, .full-stars:before {
    content:"\2605\2605\2605\2605\2605";
    font-size: 40pt;
}
.empty-stars:before {
    -webkit-text-stroke: 1px #1a2654;
    color: #FFFFFF;
}
.full-stars:before {
    -webkit-text-stroke: 1px #1a2654;
}


.ratingstext{

}



.pilotailogo {
height: 13%;
}



.roundbox2 {
	width: 20%; 
  	height: 30%;
  	border-top-left-radius: 10%;
	border-top-right-radius:  10%;
	border-bottom-right-radius:  10%;
	border-bottom-left-radius: 10%;
	background:#f4f6f8; 
	
}

.boxshadow2
{    
  box-shadow: 3px 0px 3px 3px #f4f6f8;
}





.checkicon {
height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nocheckicon {
height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}







.empty-stars:before, .full-stars:before {
    content:"\2605\2605\2605\2605\2605";
    font-size: 40pt;
}
.empty-stars:before {
    -webkit-text-stroke: 1px #1a2654;
    color: #FFFFFF;
}
.full-stars:before {
    -webkit-text-stroke: 1px #1a2654;
}


.ratingstext{

}


