

body {
    border: 3px solid black;
    margin: 0;
    letter-spacing: 1.5px;
}


#grad1 {
  height: 44%;
  background: rgb(179,226,255);
  background: linear-gradient(90deg, rgba(179,226,255,1) 0%, rgba(200,235,255,1) 44%, rgba(215,242,255,1) 100%);
}

h1 {
padding: 10px 10px 10px 10px;
	color: #1a2654;
    border-bottom: 3px solid #5cb6f2;
    font-family: Sans-Serif;
transform: translate(10%,-1350%); 
width: 85%;
 font-size: 38px;
}

.borderbox{
	border-top-left-radius: 4%;
	border-top-right-radius: 4%;
	border-bottom-right-radius: 4%;
	border-bottom-left-radius: 4%;


}



.roundbox {
	width: 82%; 
  	height: 60%;
  	transform: translate(14%,-50%);
  	border-top-left-radius: 3%;
	border-top-right-radius: 3%;
	border-bottom-right-radius: 3%;
	border-bottom-left-radius: 3%;
	overflow: hidden;
	background:#FFFFFF; 	
}




.boxshadow 
{    
  box-shadow: 1px 0px 1px 1px #535353;
}


.gridheader
{    
padding: 35px 10px 20px 50px;
    background:  #1a2654 ;
    font-weight: bold;
    color: #F4F6F8;
    font-size: 170%;
    font-family: PT Sans;
    
}









.shareicon
{
height: 15%;
transform: translate(750%,-170%);

}

.downloadicon
{
height: 20%;
transform: translate(570%,-115%);

}









.airplane
{
height: 2%;
transform: translate(1625%,-3310%);


}



.line {
    border-bottom: 2px solid #b1defa;
    width: 34%;
	transform: translate(56.5%,-24050%); 
}

.pinpointicon
{
height: 4%;
	transform: translate(2290%,-1780%);

}




.date,.time,.duration,.amenities{
font-weight: bold;
font-family: PT Sans;

}





.date{
transform: translate(15%,-2320%);
}



.time{
transform: translate(30%,-2420%);
}


.duration{
transform: translate(45%,-2520%);

}


.amenities{
transform: translate(45%,-2320%);

}

.airlinelogo{
height: 10%;
transform: translate(150%,-700%);
}



.infoicon{
height: 2.5%;
transform: translate(25%,-40%);
}




h2{
transform: translate(65%,-500%);
font-weight: bold;
    color: #F4F6F8;
    font-size: 170%;
    font-family: PT Sans;
}




.datetext,.timetext,.durationtext,.amenitiestext,.airlinetext{
color: #c0c0c0;

}


.datetext{
transform: translate(15%,-3320%);

}
.timetext{
transform: translate(30%,-3420%);

}
.durationtext{
transform: translate(45%,-3520%);

}
.amenitiestext{
transform: translate(45%,-3310%);

}
.airlinetext{
transform: translate(15%,-3310%);

}



.line2 {
    border-left: 2px dashed #c0c0c0;
    height: 60%;
	transform: translate(63%,-217%); 
}









.ratings {
    display: inline-block;
    color: #b1b1b1;
    transform: translate(310%,-1325%);
     
}
.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    color: #5cb6f2;
}
.empty-stars:before, .full-stars:before {
    content:"\2605\2605\2605\2605\2605";
    font-size: 40pt;
}
.empty-stars:before {
    -webkit-text-stroke: 1px #1a2654;
    color: #FFFFFF;
}
.full-stars:before {
    -webkit-text-stroke: 1px #1a2654;
}


.ratingstext{

}



.pilotailogo {
height: 13%;
transform: translate(700%,-1150%);
}



